{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div class="row" id="div_listing">
      <div class="col-4">
        <a href="{% url 'listing' listing.id %}"><img id="imagen_principal" src="static/auctions/{{ listing.url_image }}" alt="Motor mitsubishi"></a>
      </div>
      <div class="col-8">
        {% if listing.title %}
          <a href="{% url 'listing' listing.id %}"><p><h4>{{ listing.title }}</h4></p></a>
        {% endif %}
        {% if listing.starting_bid %}
          <p><h4>Price: <b><span>$</span>{{ listing.starting_bid }}.00</b></h4></p>
        {% endif %}
        {% if listing.description %}
          <p><h4><b>{{ listing.description }}</b></h4></p>
        {% endif %}
        <p>Posted: {{ listing.start_time }}</p>

      </div>
      </div>
      {% empty %}
        No listings yet!
      {% endfor %}


    TODO
{% endblock %}
